<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maxmati.tobiasz.flat">

    <permission
        android:name="pl.maxmati.tobiasz.flat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM related -->
    <uses-permission android:name="pl.maxmati.tobiasz.flat.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="pl.maxmati.tobiasz.flat.bread.widget.BreadWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bread_widget_info" />
        </receiver>

        <!-- FIXME: add permission -->
        <service
            android:name="pl.maxmati.tobiasz.flat.bread.widget.BreadWidgetUpdater"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="pl.maxmati.tobiasz.flat.activity.APIAuthActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_api_login" />
        <activity
            android:name="pl.maxmati.tobiasz.flat.bread.widget.BreadWidgetConfigure"
            android:enabled="true"
            android:exported="true"
            android:label="@string/title_activity_api_login">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.maxmati.tobiasz.flat.bread.widget.BreadWidgetUpdateActivity"
            android:label="@string/title_activity_resource_update" />

        <!-- GCM related -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="pl.maxmati.tobiasz.flat.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="pl.maxmati.tobiasz.flat.bread.gcm.ListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="pl.maxmati.tobiasz.flat.bread.gcm.IDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="pl.maxmati.tobiasz.flat.bread.gcm.RegistrationIntentService"
            android:exported="false" />

        <!-- Shopping related -->
        <activity
            android:name="pl.maxmati.tobiasz.flat.shopping.PendingOrdersActivity"
            android:label="@string/title_activity_pending_orders">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pl.maxmati.tobiasz.flat.shopping.AddPendingOrderActivity"
            android:label="@string/title_activity_add_pending_order">
        </activity>
    </application>

</manifest>
